<html>
    <head>
        <script>
            var __dataFromDatabase = {

            }
        </script>
    </head>
    <body>
        <h1>
            {{user.firstName}}
        </h1>

        <p>
            {{user.lastName}} {{world}}
        </p>
        <script src="react.js"></script>
        <script src="spa.js"></script>
    </body>
</html>